.display {
  width: 600px;
  height: 600px;
  background-color: #ddd;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.poop {
  width: 200px;
  position: absolute;
  left: -50px;
  bottom: -50px;
  z-index: 0;
}
.poop img {
  width: 100%;
}
button {
  outline: none;
  background: transparent;
  border: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
}

button:focus {
  border: 2px solid black;
}

.bored, .sleepy, .hungry {
  width: 250px;
  position: absolute;
  top: 100px;
  right: 0;
}

.sleepy {
  top: 200px;
}

.hungry {
  top: 300px;
}

.bored img, .sleepy img, .hungry img {
  width: 100%;
}
